DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fireslot?schema=public"
JWT_SECRET="replace-with-strong-secret"
JWT_EXPIRES_IN="7d"
PORT=4000
UPLOAD_DIR="./uploads"
CORS_ORIGINS="http://localhost:3000,https://esport-web-rho.vercel.app"
ADMIN_EMAIL="admin@fireslot.np"
ADMIN_PASSWORD="Admin@123"
GOOGLE_CLIENT_ID="714502041613-f02qutfrv00gj87fr1hptgcgctp62i31.apps.googleusercontent.com"
